@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-style: normal;
}

.wrap {
	background-color: rgba(255, 255, 255, 1);
	max-width: 1200px;
	margin: 13px auto;
	display: flex;
	align-items: center;
}

.user__name {
	font-size: 28px;
	font-weight: 700;
	line-height: 42px;
	font-family: 'Pretendard-Regular';
	margin: 0;
	flex: 1;
}

.section__divider {
	display: none;
}

.post__business_section {
	display: flex;
	align-items: center;
}

.recent__message__section {
	display: inline-flex;
	position: relative;
}

.emoji__total {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 1);
	border: none;
	width: 36px;
	height: 36px;
	padding: 6px;
}

.emoji__total img {
	width: 100%;
}

.button__list {
	list-style: none;
	padding: 0;
	display: flex;
	align-items: center;
}

.emoji__add {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(204, 204, 204, 1);
	border-radius: 6px;
	padding: 6px 16px;
	display: flex;
	align-items: center;
	width: 88px;
	height: 36px;
}

.emoji__add img {
	width: 24px;
	height: 24px;
}

.emoji__add span {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	font-family: 'Pretendard-Regular';
}

.share__list {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.share {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(204, 204, 204, 1);
	border-radius: 6px;
	padding: 6px 16px;
	width: 56px;
	height: 36px;
}

.share img {
	width: 100%;
}

.divider {
	width: 1px;
	height: 28px;
	margin: 4px 13px;
	background-color: rgba(238, 238, 238, 1);
}

@media (max-width: 1248px) {
	.wrap {
		margin: 13px 24px;
	}
	.share__text__wrap {
		right: 24px;
	}
}

@media (max-width: 845px) {
	.recent__message__section {
		display: none;
	}

	.first__divider {
		display: none;
	}
}

@media (max-width: 582px) {
	.wrap {
		margin: 13px 20px;
	}

	.user__name {
		font-size: 18px;
	}

	.emoji__add {
		width: 36px;
		height: 32px;
		padding: 6px 8px;
	}

	.emoji__add span {
		display: none;
	}

	.emoji__add img {
		width: 100%;
		height: 100%;
	}

	.share {
		width: 36px;
		height: 32px;
		padding: 6px 8px;
	}

	.share img {
		width: 100%;
	}
}

@media (max-width: 425px) {
	.wrap {
		flex-direction: column;
		align-items: flex-start;
	}

	.section__divider {
		display: block;
		width: 100vw;
		height: 1px;
		background-color: rgba(238, 238, 238, 1);
		margin-bottom: 12px;
		position: relative;
		left: -20px;
	}
}

@media (max-width: 320px) {
	.wrap {
		margin-left: 16px;
		margin-right: 16px;
	}
	.divider {
		display: none;
	}

	.emoji__add {
		margin-right: 5px;
	}
}
