.rolling-paper__form {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  height: 100%;
  margin: 10px auto;
  padding: 2rem;
  font-family: 'Pretendard', sans-serif;
}

.rolling-paper__label {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 0.5rem;
}

.rolling-paper__input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.rolling-paper__error {
  color: red;
  font-size: 15px;
}

.rolling-paper__section-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 2rem;
}

.rolling-paper__section-desc {
  font-size: 15px;
  color: #555;
  margin-top: 0.7rem;
  margin-bottom: 1.5rem;
}

.rolling-paper__tab-buttons {
  display: flex;
  margin-bottom: 2rem;
}

.rolling-paper__tab-button {
  border: none;
  color: #333;
  cursor: pointer;
  background-color: #f4f4f4;
  width: 100px;
  font-size: 14px;
  border-radius: 8px;
  padding: 0.5rem 1.2rem;
}

.rolling-paper__active-tab {
  border: 2px solid #9935FF;
  color: #9935FF;
  background-color: white;
}

.rolling-paper__color-box-container,
.rolling-paper__image-box-container {
  display: flex;
  gap: 1rem;
}

.rolling-paper__color-box {
  width: 130px;
  height: 130px;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.2s ease;
}

.rolling-paper__image-box {
  width: 130px;
  height: 130px;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  background-size: cover;
  border: 2px solid transparent;
  transition: transform 0.2s ease;
}

.rolling-paper__color-box:hover,
.rolling-paper__image-box:hover {
  transform: scale(1.05);
}

.rolling-paper__selected {
  border: 2px solid #444;
}

.rolling-paper__checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.rolling-paper__submit-button {
  width: 100%;
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 12px;
  border: none;
  background-color: #a855f7;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/* 태블릿 버전 (768px ~ 1023px) */
@media (max-width: 1023px) {
  .rolling-paper__submit-button {
    width: 566px;
    position: absolute;
    bottom: 24px;
  }
}

/* 모바일 버전 (최대 767px) */
@media (max-width: 767px) {
  .rolling-paper__input {
    width: 276px;
  }

  .rolling-paper__section-title,
  .rolling-paper__section-desc {
    width: 276px;
  }

  .rolling-paper__section-desc {
    font-size: 14px;
  }

  .rolling-paper__color-box-container,
  .rolling-paper__image-box-container {
    width: 250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
  }

  .rolling-paper__submit-button {
    width: 276px;
  }
}