.list-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1160px;
    gap: 50px;
}

.list-page__popular {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list-page__popular h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
}

.list-page__card-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.list-page__card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 275px;
    padding: 30px 24px 20px;
    background-color: #ECD9FF;
    border-radius: 16px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.08);
    background-repeat: no-repeat;
}

.list-page__card .list-page__recipient {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #181818;
}

.list-page__card .list-page__profile-wrap {
    display: flex;
    gap: -16px;
    min-height: 28px;
    position: relative;
}

.list-page__profile-wrap .list-page__profile-image {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1.5px solid #fff;
    overflow: hidden;
    background-color: transparent;
    object-fit: cover;
}

.list-page__profile-wrap .list-page__profile-count {
    position: absolute;
    left: 40px;
    bottom: -6px;
    border-radius: 50%;
    padding: 5px 6px;
    font-size: 12px;
    transform: translate(25%, -25%);
    color: #555;
    background-color: white;
}

.list-page__card .list-page__count {
    display: block;
    padding-bottom: 43px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    color: #3a3a3a;
}

.list-page__count span {
    font-weight: bold;
}

.list-page__emoji-container {
    display: flex;
    gap: 8px;
    padding-top: 4px;
    font-size: 14px;
}

.list-page__box-emojicount {
    display: flex;
    gap: 2px;
    padding: 8px 12px;
    align-items: center;
    border-radius: 32px;
    background-color: rgba(0,0,0,0.54);
}

.list-page__num-emojicount {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.list-page__recent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list-page__recent h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
}
