.list-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1160px;
    gap: 50px;
}

.list-page__popular {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list-page__popular h2,
.list-page__recent h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
}

.list-page__card-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.list-page__card-wrapper {
    width: 100%;
    display: flex; /* 카드들을 가로로 나열 */
    transition: transform 0.3s ease; /* 슬라이드 이동 애니메이션 */
    gap: 20px;
}

.list-page__card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 12px;
    width: 275px;
    padding: 30px 24px 20px;
    background-color: #ECD9FF;
    border-radius: 16px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.08);
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
}

.list-page__card .list-page__recipient {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #181818;
}

.list-page__card .list-page__profile-wrap {
    display: flex;
    gap: -16px;
    min-height: 28px;
    position: relative;
}

.list-page__profile-wrap .list-page__profile-image {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1.5px solid #fff;
    overflow: hidden;
    background-color: transparent;
    object-fit: cover;
}

.list-page__profile-wrap .list-page__profile-count {
    position: absolute;
    left: 40px;
    bottom: -6px;
    border-radius: 50%;
    padding: 5px 6px;
    font-size: 12px;
    transform: translate(25%, -25%);
    color: #555;
    background-color: white;
}

.list-page__card .list-page__count {
    display: block;
    padding-bottom: 43px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    color: #3a3a3a;
}

.list-page__count span {
    font-weight: bold;
}

.list-page__emoji-container {
    display: flex;
    gap: 8px;
    padding-top: 4px;
    font-size: 14px;
}

.list-page__box-emojicount {
    display: flex;
    gap: 2px;
    padding: 8px 12px;
    align-items: center;
    border-radius: 32px;
    background-color: rgba(0,0,0,0.54);
}

.list-page__num-emojicount {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.list-page__recent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list-page__recent h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
}

/* Carousel */
.carousel-buttons-container {
    width: 1160px;
    position: absolute;
    top: 242px;;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 10;
    background-color: rgba(0,0,0,0,2)
  }

.carousel-button {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #CCC;
    background-color: #FFF;
    border-radius: 50%;
}

.carousel-button:first-child {
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}

.carousel-button:last-child {
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}

.carousel-button:disabled {
    display: none;
}

.list-page__recent .carousel-buttons-container {
    top: 607px;
}

/* 태블릿 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    .list-page {
        padding: 0 24px;
    }
} 

/* 모바일 (해상도 ~767px)*/ 
@media all and (max-width:767px) {
    .list-page {
        padding: 0 20px;
    }

    .list-page__popular h2,
    .list-page__recent h2 {
        font-size: 20px;
    }

    .list-page__card  {
        max-width: 208px;
    }

    .list-page__card .list-page__recipient {
        font-size: 18px;
    }

    .list-page__emoji-container {
        gap: 4px;
    }

    .list-page__profile-count {
        font-size: 14px;
    }

    .list-page__box-emojicount {
        padding: 6px 8px;
    }

    .list-page__num-emojicount {
        font-size: 14px;
    }
}
