.button--primary {
  width: 100%;
  height: 56px;
  padding: 14px 24px;
  gap: 10px;
  background-color: #9935FF;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01em;
  border-radius: 12px;
  border: 0px;
  cursor: pointer;
  &:disabled {
    background-color: #CCCCCC;
  }
}

.button--outlinedButton {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  padding: 8px 16px;
  border: 1px solid gray;
  background-color: #FFFFFF;
  font-size: 14px; /** 폰트 지정 이후에 16픽셀로 바꿔야함 **/
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01em;
  cursor: pointer;
  &:disabled {
    background-color: #CCCCCC;
  }
}
