.button--delete-rolling-page {
  position: absolute;
  width: 92px;
  height: 39px;
  top: 196px;
  left: 1468px;
  background-color: #9935FF;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
  z-index: 9999;
}

.button--delete-card {
    position: absolute;
    top: 28px;
    right: 32px;
    background-color: #FFFFFF;
    color: white;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
    z-index: 10;
}