.post__content {
	width: 100%;
	padding-top: 113px;
	min-height: 100vh;
}

.card {
  position: relative;
}

.card__wrap {
	width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(230px, 1fr));
	gap: 24px;
	padding-bottom: 200px;
}

.edit__Link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 24px;
	left: 50%;
	transform: translateX(-50%);
	text-decoration: none;
	border-radius: 12px;
	width: 720px;
	height: 55px;
	margin: 0 auto;
	background-color: rgba(153, 53, 255, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
	font-family: 'Inter';
}

.observer__target {
	/* position: absolute;
	bottom: -40px; */
	width: 100%;
	height: 40px;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.button__delete_rolling_page {
  position: absolute;
  width: 92px;
  height: 39px;
  top: 196px;
  left: 1468px;
  background-color: #9935FF;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
  z-index: 9999;
}

.button__delete_card {
  position: absolute;
  top: 28px;
  right: 32px;
  background-color: #FFFFFF;
  color: white;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
}

.card__wrapper_with_delete {
  position: relative;  /* 카드 주변에 딜리트 버튼을 위치시키기 위해 상대 위치 설정 */
}

@media (max-width: 1248px) {
	.post__content {
		width: 100%;
	}
	.card__wrap {
		margin: unset;
		margin-bottom: 200px;
		padding: 0 24px;
		width: 100%;
	}
}

@media (max-width: 730px) {
	.post__content {
		padding-top: 24px;
	}
	.edit__Link {
		width: 320px;
		height: 56px;
		font-size: 16px;
		line-height: 24px;
	}
}


.post__content {
	width: 100%;
	padding-top: 113px;
	min-height: 100vh;
}

.card__wrap {
	width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(230px, 1fr));
	gap: 24px;
	padding-bottom: 200px;
}

.edit__Link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 24px;
	left: 50%;
	transform: translateX(-50%);
	text-decoration: none;
	border-radius: 12px;
	width: 720px;
	height: 55px;
	margin: 0 auto;
	background-color: rgba(153, 53, 255, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
	font-family: 'Inter';
}

.observer__target {
	/* position: absolute;
	bottom: -40px; */
	width: 100%;
	height: 40px;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}
@media (max-width: 1248px) {
	.post__content {
		width: 100%;
	}
	.card__wrap {
		margin: unset;
		margin-bottom: 200px;
		padding: 0 24px;
		width: 100%;
	}
}

@media (max-width: 730px) {
	.post__content {
		padding-top: 24px;
	}
	.edit__Link {
		width: 320px;
		height: 56px;
		font-size: 16px;
		line-height: 24px;
	}
}

.button__delete_rolling_page {
  position: absolute;
  width: 92px;
  height: 39px;
  top: 196px;
  left: 1468px;
  background-color: #9935FF;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
  z-index: 9999;
}

.button__delete_card {
  position: absolute;
  top: 28px;
  right: 32px;
  background-color: #FFFFFF;
  color: white;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
}
