.modal__item {
	width: 100%;
	height: 476px;
	background-color: rgba(255, 255, 255, 1);
	padding: 40px;
	border-radius: 16px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.modal__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	padding-bottom: 19px;
	border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.sender__img {
	width: 56px;
	height: 56px;
	border-radius: 9999px;
}

.sender__name {
	display: inline-flex;
	flex-direction: column;
	gap: 6px;
	flex: 1;
}
.sender__name h3 {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}
.sender__name > h3 > span {
	font-weight: 700;
}

.relationship {
	width: fit-content;
	border-radius: 4px;
	padding: 0 8px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.send__date {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: rgba(153, 153, 153, 1);
}

.content {
	width: 100%;
	height: 256px;
	margin-top: 16px;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	color: rgba(90, 90, 90, 1);
	margin-bottom: 24px;
	overflow-y: auto;
}

.closeBtn {
	border: none;
	border-radius: 6px;
	padding: 7px 16px;
	background-color: rgba(153, 53, 255, 1);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: rgba(255, 255, 255, 1);
	display: block;
	width: 120px;
	margin: 0 auto;
}
