.post__content {
	padding-top: 113px;
	height: 100%;
}

.card__wrap {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	margin-bottom: 200px;
}

.ovserver__target {
	width: 100%;
	height: 40px;
	background-color: red;
}
@media (max-width: 1248px) {
	.card__wrap {
		margin: 0 24px;
	}
}
