.send__message__form {
  width: 720px;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

@media (max-width: 768px) {
	.send__message__form {
    max-width: 720px;
    width: 100%;
  }
}


.send__message__form > div {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

label {
  font-size: 24px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 36px;
}

.input__container {
  display: flex;
  flex-direction: column;
}

.input__container input {
  padding: 12px 16px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  margin-top: 12px;
}

.input__container div {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #DC3A3A;
}

.profile__container {
  display: flex;
  flex-direction: column;
}

.profile__container > div {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.profile__container > div > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile__container > div > img {
  border-radius: 100px;
}

.profile__container > div > div > span {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #555555;
}

.profile__container > div > div > div {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.profile__container > div > div > div > img {
  border: 1px solid #EEEEEE;
  border-radius: 100px;
}

@media (max-width: 768px) {
  .profile__container > div > div > div {
    gap: 2px;
  }

  .profile__container > div > div > div > img {
    width: 40px;
    height: 40px;
  }
}

.select__container {
  display: flex;
  flex-direction: column;
}

.select__container select {
  width: 320px;
  padding: 12px 16px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  margin-top: 12px;

  appearance: none;
  background-image: url('/icons/arrow_down.png');
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px 16px;
}

.editor__container {
  margin-top: 12px;
}
